.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 50px;
}

.title {
  font-size: 24px;
  margin-bottom: 20px;
}

.board {
  display: grid;
  grid-area: repeat(3, 1fr);
  gap: 5px;
}

.cell {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 48px;
  background-color: #e9e9e9;
  color: #333;
  height: 100px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.cell:hover {
  background-color: #ccc;
}

.player {
  margin-top: 20px;
}
